body{
	background-color: #F4F6F6;
	color: #FBFBFB;
	padding-top: 70px;
	padding-bottom: 70px;
}

.container{
	background-color: #A4DBDE;
}

.navbar-text{
	color: #795D89;
}
.chatMessage{
	word-wrap: break-word;
}
.chatName{
	word-wrap: break-word;
}

.round{
    border-radius: 6px;
}
#message{
	width: 90%;
}
#botNav{
	padding: 10px;
}